.item-details {
    width: 600px;
    margin: 2rem auto;

    &>img {
        height: 600px;
        object-fit: cover;
    }
}

.item-list {
    width: 18rem;

    &>img {
        height: 18rem;
        object-fit: cover;
    }
}